<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Suvichar</title>
</head>
<body>
 

  <h1><b>सुविचार...🙏</b></h1><br>
  <p class="subtitle"> 
    50 मोटिवेशनल सुविचार जो जिंदगी बदल दें |<br> Best Suvichar Inspirational Motivational in Hindi
  </p>



<div>
  <img class="image1" src="https://firebasestorage.googleapis.com/v0/b/suvichar-646e6.appspot.com/o/All%20images%2FIMG_20210112_085831.jpg?alt=media&token=167d1c8b-15aa-4d3c-a334-a028c16029d4">
  <br>
<p>  ज़िन्दगी में मिली असफलता यह बताती है,<br>
  आप सफलता के लिए प्रयास कर रहे हैं।  </p><br>


<img src="https://firebasestorage.googleapis.com/v0/b/suvichar-646e6.appspot.com/o/All%20images%2FIMG_20210113_083208.jpg?alt=media&token=f1219432-2033-49d4-bda4-36bfe50a116c" alt="img2">
<br>
<p>मनुष्य यदि अपनी इच्छाओं को हटाकर देखे,<br>
  तो खुशियों का संसार नजर आयेगा।</p><br>

  <img src="https://firebasestorage.googleapis.com/v0/b/suvichar-646e6.appspot.com/o/All%20images%2FIMG_20210113_161357.jpg?alt=media&token=c672579d-faa1-4c3a-ac79-64f430537e33" alt="img3">
<br>
<p>कभी धूप से परेशान, कभी बारिश से<br>
  शिकायतों का भंडार जीवन में रहता ही है।</p><br>

  <img src="https://firebasestorage.googleapis.com/v0/b/suvichar-646e6.appspot.com/o/All%20images%2FIMG_20210113_221543.jpg?alt=media&token=d88861bb-b851-46a1-b9d4-0300b90cadf1" alt="img4">
<br>
<p>ज़िन्दगी को समझने के लिए पीछे देखना चाहिए ।<br>
  और ज़िन्दगी को जीने के लिए आगे।</p><br>

<img src="https://firebasestorage.googleapis.com/v0/b/suvichar-646e6.appspot.com/o/All%20images%2FIMG_20210113_221731.jpg?alt=media&token=72fcd58d-9ffa-4ea1-a4cd-cb154286c0d8" alt="img5">
<br>
<p>अनुमान गलत होते हैं, अनुभव नहीं <br>
  समय-समय पर अनुभव का सहारा ले।</p><br>

  <img src="https://firebasestorage.googleapis.com/v0/b/suvichar-646e6.appspot.com/o/All%20images%2FIMG_20210114_205454.jpg?alt=media&token=500e0b5a-2505-488d-a6c2-450f46e31e40" alt="img6">
<br>
<p>आंखों के परदे नम हो गए,<br>
  बातों के सिलसिले भी कम हो गए।<br>
 पता नहीं गलती किसकी है,<br>
 वक्त बुरा है या बुरे हम हो गए।</p><br>

 <img src="https://firebasestorage.googleapis.com/v0/b/suvichar-646e6.appspot.com/o/All%20images%2FIMG_20210115_175015.jpg?alt=media&token=134e8e92-1e43-44cf-b892-fb1f164989c5" alt="img7">
<br>
<p>वक्त आपका है <br>
  चाहे ' सोना ' बना लो<br>
  या फिर ' सोने ' में गुजार दो<br>
  दुनिया आपके उदाहरण <br>
  से बदलेगी राय से नहीं।</p><br>

  <img src="https://firebasestorage.googleapis.com/v0/b/suvichar-646e6.appspot.com/o/All%20images%2FIMG_20210116_080222.jpg?alt=media&token=6f2f1571-a674-406d-9e4d-a12cf5934926" alt="img8">
  <br>
  <p>जो मनुष्य अपने कदमों पर<br>
    विश्वास करते हैं <br>
   वही सफलता की मंजिल <br>
   तक पहुंचते हैं।</p><br>

   <img src="https://firebasestorage.googleapis.com/v0/b/suvichar-646e6.appspot.com/o/All%20images%2FIMG_20210116_173211.jpg?alt=media&token=2ec927db-d551-4b96-9dbd-bfa2f18334f0" alt="img">
<br>
<p>जिसे हारने से डर लगता है<br>
  वह पूरी जिंदगी डरता ही रहता है।</p><br>

  <img src="https://firebasestorage.googleapis.com/v0/b/suvichar-646e6.appspot.com/o/All%20images%2FIMG_20210117_104415.jpg?alt=media&token=680ddffc-dcdd-43a7-b05a-0d39b62eba89" alt="img">
<br>
<p>जिंदा लोगों की ' चुगलियां '<br>
  और मरे लोगों की ' तारीफ '<br>
  क्या फितरत है दुनिया की..!</p><br>

  <img src="https://firebasestorage.googleapis.com/v0/b/suvichar-646e6.appspot.com/o/All%20images%2FIMG_20210117_121917.jpg?alt=media&token=0ee13600-f7c3-427a-9ad2-6be41f4e66d7" alt="img">
<br>
<p>विश्वास वह शक्ति है <br>
  जिससे उजड़ी हुई दुनिया में <br>
  प्रकाश लाया जा सकता है।</p><br>

  <img src="https://firebasestorage.googleapis.com/v0/b/suvichar-646e6.appspot.com/o/All%20images%2FIMG_20210118_085133.jpg?alt=media&token=821c247b-58e4-4582-9fad-bce4019961be" alt="">
<br>
<p>'होशियार' होना अच्छी बात है<br>
  पर दूसरों को मूर्ख समझना <br>
 'बेवकूफी' है।</p><br>

 <img src="https://firebasestorage.googleapis.com/v0/b/suvichar-646e6.appspot.com/o/All%20images%2FIMG_20210118_221023.jpg?alt=media&token=fd2c4db6-7271-4c20-907a-7b58cf69a4c1" alt="">
<br>
<p>आपका दिल बहुत कीमती है <br>
  कोशिश करें इसमें वही रहे <br>
  जो रहने के लायक हो।</p><br>

  <img src="https://firebasestorage.googleapis.com/v0/b/suvichar-646e6.appspot.com/o/All%20images%2FIMG_20210204_080457.jpg?alt=media&token=4d94aefb-da4e-47e0-8586-7bc1890ebc92" alt="">
<br>
<p>अगर समय पर बुरी आदते<br>
  न बदली जाए,<br>
  तो बुरी आदते आपका<br>
  समय बदल देती हैं।</p><br>







</div>
</body>
</html>