
<div class="container">
  <div class="row">

    <div class="jumbotron text-center">
    <nav class="navbar navbar-default" id="navbar">
      <ul class="nav navbar-nav">
        <li><a routerLink="/" (click)="onSelect('headerdata')">Home</a></li>
        <li><a href="https://instagram.com/the.suvicharr?utm_medium=copy_link">Instagram</a></li>
        <li><a href="https://m.facebook.com/thesuvicharr-106399698050608/">Facebook</a></li>
        <li><a routerLink="/about" (click)="onSelect('aboutdata')">About</a></li>
      </ul>
    </nav>
  </div>
  </div>
</div>

 
